*{/*styles all the components in the page*/ 
	margin: 0;
	padding: 0;
}

body{/*basic styling for the body*/
	font-size: 17px;
	line-height: 1cm; /*space between the text*/
	background: #ffffff; /*white background*/
}

p{/*styling for the: "you have logged out" sentence*/
	font-size: 25px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top:-90px; 
    margin-left:-120px;
}

a{/*styling for the logout-link*/
	font-size: 23px;
	text-align:center;
	text-decoration: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top:-30px; 
    margin-left:-75px;
	padding: 5px 13px;
	border: 2px solid #CC3333;
	color: #993300;
	transition-duration: 0.2s;
	cursor: pointer;
	font-weight: bold;
} 

a:hover {/*styling for the logout-link after cursor hovers over it*/
	background-color: #CC3333; 
    color: white;
}